<div class="header">
	<div class="container clearfix">
		<a href="{{ site.baseurl }}/" class="site-title-wrapper pull-left">					
			<span class="title-bracket">{</span><span class="site-title">{{ site.title }}</span><span class="title-bracket">}</span>
		</a>
		<nav class="pull-right">
			<ul class="sf-menu">
				{% for page in site.pages %}
					{% if page.title %}
					<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>